dummy/src/main/mule/dummy.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="b9f90db4-e7d5-4a4b-a68c-e97a16479256" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="dummyFlow" doc:id="decb6c2b-d88b-4dc1-8472-1489fd432612" >
		<http:listener doc:name="Listener" doc:id="b6f882a0-ec52-417c-b3fd-c72adb81d3c5" config-ref="HTTP_Listener_config" path="/dummy"/>
		<set-payload value='#["Hello World"]' doc:name="Set Payload" doc:id="5ae09dea-79f9-4aa9-9fdf-0f881971ca5c" />
		<logger level="INFO" doc:name="Logger" doc:id="c6b8685f-9bca-40ee-b0df-95aa6785af68" message="#[payload]"/>
	</flow>
</mule>
